<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de Login</title>
		</head>
	<body>

		<table>
			<tr>
				<td>ID</td>
				<td>Nome</td>
				<td>Email</td>
				<td>Data</td>
			</tr>
		<% for(var i=0; i< result.length; i++) { %>
			<tr>
				<td><%= valor[i].ID %></td>
				<td><%= valor[i].NOME%></td>
				<td><%= valor[i].EMAIL%></td>
				<td><%= valor[i].DATATIME%></td>
			</tr>
		<% } %>	
	</body>
</html>